# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Kubeconfig, secrets
kubeconfig
*.env

# Mac/IDE
.DS_Store
.idea/
.vscode/
